<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>接课网</title>
    <link rel="stylesheet" href="../plugins/videoJS/video-js.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/wedgit.css" />
    <link rel="stylesheet" href="../css/style.css" />

</head>
<body>
<header>
    <div class="navigation clearfix">
        <div class="logo pull-left">
            <a href="#"><img src="../images/demo/logo-160-20.svg"/></a>
        </div>
        <div class="menu pull-left">
            <ul class="clearfix">
                <li class="menu-item first active"><a href="index.html">首页</a></li>
                <li class="menu-item menu-course fa-drop-down"><a href="#">课程</a></li>
                <li class="menu-item"><a href="index.html">求课</a></li>
            </ul>
            <div class="modal shadow course-drop-down">
                <div class="inner-modal">
                    <div class=" arrow-up arrow"></div>
                    <ul>
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">我的课程</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navigation-right pull-right hidden clearfix">
            <input class="form-control search-input pull-left" placeholder="搜索"/>
            <a class="link-profile" href="#">
                <div class="username pull-left">Jensyn</div>
                <div class="avatar pull-right">
                    <img src="../images/demo/avatar.png"/>
                </div>
            </a>
            <div class="modal shadow drop-down-list">
                <div class="inner-modal">
                    <div class=" arrow-up arrow-custom"></div>
                    <ul>
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">我的课程</a></li>
                        <li><a href="sign_in.html">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navigation-right pull-right clearfix">
            <input class="form-control search-input pull-left" placeholder="搜索"/>
            <a href="dashboard.html" class="link-sign-in pull-left">登 录</a>
            <a href="#" class="btn btn-green btn-sign-up pull-right">注 册</a>
        </div>
    </div>
</header>
<section class="page-wrapper">
    <section class="normal-form-wrapper">
        <div class="form-title">找回密码</div>
        <form method="post" action="">
            <div class="form-control-group">
				<input class="form-control" type="text" name="email" placeholder="安全邮箱" tabindex="2"/>
            </div>
            <div class="form-control-group">
            	<input type="submit" class="btn btn-block btn-orange btn-submit" value="发送邮件" tabindex="3"/>
            </div>
        </form>
        <div class="switch-wrapper">
            <a href="tpl_sign_in.html" class="btn btn-block btn-blue">返回登录</a>
        </div>
    </section>
</section>
<footer>
    <ul class="clearfix">
        <li>@接课网</li>
        <li><a href="#">关于</a></li>
        <li><a href="#">团队</a></li>
        <li><a href="#">博客</a></li>
    </ul>
</footer>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../plugins/jQueryFullPage/js/jquery.fullPage.min.js"></script>

<!--init page events-->
<script type="text/javascript" src="../js/app_init.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.form-wrapper .btn-submit').click(function() {
            /* Act on the event */
            var params = {
                mail: $('[name="email"]').val()
            };
            $.post('../server/forgetpd.server.php', params, function(data) {
                var result = JSON.parse(data);
                
                if (result.status == 'true') {
                    alert('fasongchenggong');
                }
            });
            return false;
        });
    });
</script>
</html>