<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>接课网</title>
    <link rel="stylesheet" href="../plugins/videoJS/video-js.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/wedgit.css" />
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="stylesheet" href="../css/style.css" />

</head>
<body>
<header>
    <div class="navigation clearfix">
        <div class="logo pull-left">
            <a href="#"><img src="../images/demo/logo-160-20.svg"/></a>
        </div>
        <div class="menu pull-left">
            <ul class="clearfix">
                <li class="menu-item first active"><a href="index.html">首页</a></li>
                <li class="menu-item menu-course fa-drop-down"><a href="#">课程</a></li>
                <li class="menu-item"><a href="index.html">求课</a></li>
            </ul>
            <div class="modal shadow course-drop-down">
                <div class="inner-modal">
                    <div class=" arrow-up arrow"></div>
                    <ul>
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">我的课程</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navigation-right pull-right">
            <input class="form-control search-input pull-left" placeholder="搜索"/>
            <a class="link-profile pull-left" href="#">
                <div class="username pull-left">Jensyn</div>
                <div class="avatar pull-right">
                    <img src="../images/demo/avatar.png"/>
                </div>
            </a>
            <div class="modal shadow drop-down-list">
                <div class="inner-modal">
                    <div class=" arrow-up arrow-custom"></div>
                    <ul>
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">我的课程</a></li>
                        <li><a href="tpl_sign_in.html">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navigation-right hidden pull-right">
            <input class="form-control search-input pull-left" placeholder="搜索"/>
            <a href="#" class="link-sign-in pull-left">登 录</a>
            <a href="#" class="btn btn-green btn-sign-up pull-right">注 册</a>
        </div>
    </div>
</header>
<section class="page-wrapper">
    <section class="center-grid clearfix">
        <aside>
            <div class="profile-wrapper">
                <div class="profile-info clearfix">
                    <div class="avatar pull-left">
                        <a href="#">
                            <img src="../images/demo/avatar.png"/>
                        </a>
                    </div>
                    <div class="username"><a href="#">Jensyn</a></div>
                    <div class="rank">普通会员</div>
                </div>
                <a href="#" class="btn btn-block btn-green btn-upgrade">更换头像</a>
            </div>
            <div class="aside-navigation">
                <section class="activity">
                    <h4 class="activity-title">动态</h4>
                    <ul class="activity-list">
                        <li class="active">
                            <a href="#">我的课程</a>
                        </li>
                        <li>
                            <a href="#">关注的人</a>
                        </li>
                    </ul>
                </section>
                <section class="activity">
                    <h4 class="activity-title">动态</h4>
                    <ul class="activity-list">
                        <li class="active">
                            <a href="#">我的课程</a>
                        </li>
                        <li>
                            <a href="#">关注的人</a>
                        </li>
                    </ul>
                </section>
                <a href="#" class="video-preview aside-video-preview">
                    <div class="video-thumbnail"></div>
                </a>
            </div>
        </aside>
        <section class="page-content">
        	<section class="page-content-nav">
        		<ul>
        			<li class="active"><a href="#">我的资料</a></li>
        			<li><a href="tpl_user_message.html">我的私信</a></li>
        		</ul>
        	</section>
			<div class="labelled-form-wrapper">
				<form method="post" action="">
					<div class="form-control-group">
						<label class="form-label">昵称</label>
						<input class="form-control" type="text" name="username" placeholder="昵称" tabindex="1" autocomplete="off" disabled="disabled" />
						<div class="form-data">张永军</div>
					</div>
					<div class="form-control-group">
						<label class="form-label">性别</label>
						<select class="form-control">
							<option value="男">男</option>
							<option value="男">女</option>
						</select>
						<div class="form-data">男</div>
					</div>
					<div class="form-control-group">
						<label class="form-label">密码</label>
						<input class="form-control" type="text" name="password" placeholder="密码" tabindex="2" autocomplete="off" />
						<div class="form-data">******</div>
					</div>
					<div class="form-control-group">
						<label class="form-label">邮箱</label>
						<input class="form-control" type="text" name="email" placeholder="邮箱" tabindex="3" autocomplete="off" />
						<div class="form-data">zhangyongjun369@gmail.com</div>
					</div>
					<div class="form-control-group">
						<label class="form-label">手机</label>
						<input class="form-control" type="text" name="phone" placeholder="手机" tabindex="4" autocomplete="off" />
						<div class="form-data">130********</div>
					</div>
					<div class="form-control-group">
						<label class="form-label">学校</label>
						<input class="form-control" type="text" name="phone" placeholder="手机" tabindex="5" autocomplete="off" />
						<div class="form-data">西安皇家邮电学院</div>
					</div>
					<div class="form-control-group">
						<label class="form-label">年级</label>
						<input class="form-control" type="text" name="phone" placeholder="手机" tabindex="6" autocomplete="off" />
						<div class="form-data">大三</div>
					</div>
					<div class="form-control-group">
						<input class="btn btn-block btn-green btn-submit" type="submit" value="保存" tabindex="7"/>
						<button class="btn btn-block btn-green btn-edit">编辑</button>
					</div>
				</form>
			</div>
        </section>
    </section>
</section>
<footer>
    <ul class="link-list clearfix">
        <li>@接课网</li>
        <li><a href="#">关于</a></li>
        <li><a href="#">团队</a></li>
        <li><a href="#">博客</a></li>
    </ul>
</footer>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../plugins/jQueryFullPage/js/jquery.fullPage.min.js"></script>

<!--init page events-->
<script type="text/javascript" src="../js/app_init.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$('.labelled-form-wrapper .btn-submit').click(function () {
			$('.labelled-form-wrapper .form-control').hide();
			$(this).hide();
			$('.labelled-form-wrapper .form-data').show();
			$('.labelled-form-wrapper .btn-edit').css('display','block');
			return false;
		});
		$('.labelled-form-wrapper .btn-edit').click(function () {
			$('.labelled-form-wrapper .form-data').hide();
			$(this).hide();
			$('.labelled-form-wrapper .form-control').show();
			$('.labelled-form-wrapper .btn-submit').show();
			return false;
		});
	});
</script>
</html>