<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>接课网</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/wedgit.css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
<header>
    <div class="navigation clearfix">
        <div class="logo pull-left">
            <a href="#"><img src="../images/demo/logo-160-20.svg"/></a>
        </div>
        <div class="menu pull-left">
            <ul class="clearfix">
                <li class="menu-item first active"><a href="index.html">首页</a></li>
                <li class="menu-item menu-course menu-drop-down"><a href="#">课程</a></li>
                <li class="menu-item"><a href="index.html">求课</a></li>
            </ul>
            <div class="modal shadow course-drop-down-modal">
                <div class="inner-modal">
                    <div class=" arrow-up arrow"></div>
                    <div class="modal-body clearfix">
                        <ul class="category-list pull-left">
                            <li><a href="#">计算机</a></li>
                            <li><a href="#">数学</a></li>
                            <li><a href="#">通信</a></li>
                        </ul>
                        <ul class="course-list pull-left">
                            <li><a href="#">操作系统</a></li>
                            <li><a href="#">微机原理</a></li>
                            <li><a href="#">计算机组成原理</a></li>
                            <li><a href="#">通信原理</a></li>
                            <li><a href="#">模拟电路</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation-right pull-right hidden clearfix">
            <input class="form-control search-input pull-left" placeholder="搜索"/>
            <a class="link-profile" href="#">
                <div class="username pull-left">Jensyn</div>
                <div class="avatar pull-right">
                    <img src="../images/demo/avatar.png"/>
                </div>
            </a>
            <div class="modal shadow drop-down-list">
                <div class="inner-modal">
                    <div class=" arrow-up arrow-custom"></div>
                    <ul>
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">我的课程</a></li>
                        <li><a href="tpl_sign_in.html">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navigation-right pull-right clearfix">
            <input class="form-control search-input pull-left" placeholder="搜索"/>
            <a href="tpl_dashboard.html" class="link-sign-in pull-left">登 录</a>
            <a href="#" class="btn btn-green btn-sign-up pull-right">注 册</a>
        </div>
    </div>
</header>
<section class="page-wrapper">
    <section class="form-wrapper">
        <div class="form-title">登录</div>
        <form method="post" action="">
            <div class="form-control-group form-tips-wrapper">
             	<div class="well well-warning">错误提示框</div>
            </div>
            <div class="form-control-group">
             	<input type="text" name="email" class="form-control" placeholder="邮箱" tabindex="1"/>
            </div>
            <div class="form-control-group">
                <input type="password" name="password" class="form-control" placeholder="密码" tabindex="2"/>
            </div>
            <div class="form-control-group">
            	<input type="submit" class="btn btn-block btn-green btn-submit" value="登录" tabindex="3"/>
            </div>
        </form>
        <div class="form-separator"></div>
        <a class="btn btn-block btn-blue" href="tpl_sign_up.html">注册</a>
        <div class="form-separator"></div>
        <a class="btn btn-block btn-orange" href="tpl_forgot_password.html">找回密码</a>
    </section>
</section>
<footer>
    <ul class="clearfix">
        <li>@接课网</li>
        <li><a href="#">关于</a></li>
        <li><a href="#">团队</a></li>
        <li><a href="#">博客</a></li>
    </ul>
</footer>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.md5.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../plugins/jQueryFullPage/js/jquery.fullPage.min.js"></script>

<!--init page events-->
<script type="text/javascript" src="../js/app_init.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        function showErrTips(msg) {
            $('.form-tips-wrapper .well').html(msg);
            $('.form-tips-wrapper').fadeIn(500);
        }

        $('.btn-submit').click(function() {
            var mailVal = $('[name="email"]').val();
            var pwdVal = $('[name="password"]').val();
            if (FormUtil.checkEmail(mailVal) == false) {
                showErrTips("请输入正确的邮箱");
                return false;
            } else if (FormUtil.checkPwd(pwdVal) == false) {
                showErrTips("请输入正确的密码");
                return false;
            }

            var params = {
                mail: mailVal,
                password: $.md5(pwdVal)
            };

            $.post('../server/login.server.php', params, function(data) {
                console.log(data);
                var result = JSON.parse(data);

                if (result.status == 'true') {
                    location.href = 'tpl_user_profile.html';
                } else {
                    showErrTips(result.data);
                }
            });
            return false;
        });
    });
</script>
</html>